<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <% include ../layout/head %>
</head>

<body>
    <% include ../layout/header %>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="atendimento__wrapper">
                    	<p>Cliente: <%= atendimento[0].cliente %><br />
            				Assunto: <%= atendimento[0].assunto %><br />
            				Origem: <%= atendimento[0].origem %><br />
            				Assunto: <%= atendimento[0].assunto %><br />
            				Estado: <%= atendimento[0].estado %><br />
            				Atendente: <%= atendimento[0].atendente %><br />
            				Data atendimento: <%= atendimento[0].data_criacao %><br />
            				Mensagem: <%= atendimento[0].mensagem %><br />
            				
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% include ../layout/footer %>
</body>

</html>