<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <% include ../layout/head %>
</head>

<body>
    <% include ../layout/header %>
        <div class="container">
            <% if(sac.length > 0){ %>
            <div class="row">
                <% for(var i = 0; i < sac.length; i++){ %>                    
                    <div class="col-md-6">
                        <div class="atendimento__wrapper">
                        	<p>Cliente: <%= sac[0].cliente %><br />
                				Assunto: <%= sac[0].assunto %><br />
                				Atendente: <%= sac[0].atendente %><br />
                				<a href="atendimento?id_atendimento=<%= sac[0].id_atendimento %>">Ver atendimento</a></p>
                        </div>
                    </div>                    
                <% } %>
            </div>
            <% } %>
        </div>
    <% include ../layout/footer %>
</body>
</html>