<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <% include ../layout/head %>
</head>

<body>
    <% include ../layout/header %>
        <div class="container">
            <% if(validacao.length > 0){ %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">
                            <strong>Atenção!</strong>
                            <ul>
                                <% for(var i = 0; i < validacao.length; i++){ %>
                                    <li>
                                        <%= validacao[i].msg %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% } %>
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/sac/salvar" method="POST">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="origem">Origem:</label>
                                            <select class="custom-select" id="origem" name="origem">
                                                <option selected>Selecione a origem</option>
                                                <option value="Chat">Chat</option>
                                                <option value="Telefone">Telefone</option>
                                                <option value="E-mail">E-mail</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="assunto">Assunto:</label>
                                            <select class="custom-select" id="assunto" name="assunto">
                                                <option selected>Selecione o assunto</option>
                                                <option value="Dúvida">Dúvida</option>
                                                <option value="Elogio">Elogio</option>
                                                <option value="Crítica">Crítica</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="estado">Estado:</label>
                                            <select  class="custom-select" id="estado" name="estado">
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cliente">Nome do cliente:</label>
                                    <input type="text" class="form-control" id="cliente" name="cliente">
                                </div>
                                <div class="form-group">
                                    <label for="atendente">Atendente:</label>
                                    <input type="text" class="form-control" id="atendente" name="atendente">
                                </div>
                                <div class="form-group">
                                    <label for="mensagem">Mensagem:</label>
                                    <textarea class="form-control" id="mensagem" name="mensagem"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Cadastrar</button>
                            </form>
                        </div>
                    </div>
        </div>
        <% include ../layout/footer %>
</body>

</html>