.atendimento__wrapper{
	padding: 20px;
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
}
.ver_mais{
	margin-top: 40px;
	a{
		background: green;
		color: #fff;
		text-decoration: none;
		padding: 10px 15px;
		@include border-radius(3px);
		&:hover{
			opacity: 0.8;
			color: #fff;
		}
	}
}