<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <% include ../layout/head %>
</head>

<body>
    <% include ../layout/header %>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="atendimento__wrapper">
                    	<p>Cliente: <%= sac[0].cliente %><br />
                    	Assunto: <%= sac[0].assunto %><br />
                    	Atendente: <%= sac[0].atendente %><br />
                    	<a href="atendimento?id_atendimento=<%= sac[0].id_atendimento %>">Ver atendimento</a></p> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="atendimento__wrapper">
                        <p>Cliente: <%= sac[1].cliente %><br />
                    	Assunto: <%= sac[1].assunto %><br />
                    	Atendente: <%= sac[1].atendente %><br />
                    	<a href="atendimento?id_atendimento=<%= sac[0].id_atendimento %>">Ver atendimento</a></p> 
                    </div>
                </div>
            </div>
            <div class="row ver_mais">
                <a href="sac">Ver todos os atendimentos</a>
            </div>
        </div>
        <% include ../layout/footer %>
</body>

</html>